target/*
.idea/*
*.iml
*.html
frontier/*
*.txt
*/.idea/workspace.xml
**nbactions.xml
backend-api/target/*
crawlers/target/*
*/target
**local.properties
*.sqlite
/.vs/ProjectSettings.json
*.suo
/address/nbproject/
/parser/nbproject/
*.log
